
<main class="main">
  <div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <form class="weather-app" [style.background-image]="'url(' + backgroundImage + ')'">
      <h1 class="title">Explore Weather Wherever, Whenever</h1>
      <input [(ngModel)]="city" [ngModelOptions]="{standalone: true}" placeholder="Enter city name" class="search-input">
      <button (click)="getWeather()" type="submit" class="search-button">Search</button>
    </form>
  </div>
  <div *ngIf="weatherInfo">
    <h2>{{ weatherInfo.cityName }}, {{ weatherInfo.country }}</h2>
    <p>Temperature: {{ weatherInfo.temperature }} °C</p>
    <p>Condition: {{ weatherInfo.weatherCondition }}</p>
    <img src="{{ weatherInfo.iconUrl }}">
    <p>Humidity: {{ weatherInfo.humidity }}%</p>
    <p>Wind Speed: {{ weatherInfo.windSpeed }} m/s</p>
  </div>
</main>

